@using System.Linq.Expressions
@using Microsoft.AspNetCore.Components.Forms

<div class="mb-3">
    <label class="form-label" for="@Id">@Label</label>
    <InputText id="@Id"
               class="form-control"
               type="@Type"
               placeholder="@Placeholder"
               Value="Value"
               ValueChanged="ValueChanged"
               ValueExpression="ValueExpression" />
    <ValidationMessage For="ValueExpression" />
</div>

@code {
    [Parameter, EditorRequired] public string Id { get; set; } = string.Empty;
    [Parameter, EditorRequired] public string Label { get; set; } = string.Empty;
    [Parameter] public string Type { get; set; } = "text";
    [Parameter] public string? Placeholder { get; set; }
    [Parameter] public string? Value { get; set; }
    [Parameter] public EventCallback<string?> ValueChanged { get; set; }
    [Parameter, EditorRequired] public Expression<Func<string?>> ValueExpression { get; set; } = default!;
}
